# Important: .bin files are explicitly NOT part of this repository.
# A user is free to add .bin files to this directory to build them into the project
# but they must not be tracked by git so that they don't get checked in by accident.
*.bin
*.bin.*
